{
  "openWithInventory" : true,
  "startX" : 100,
  "startY" : 180,
  "gui" : {
"fuTrFuelLegend0": {"type": "label", "zlevel": 1, "position": [238, 155], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 6, "value": "YAKIT TÜRLERİ"},
"fuTrFuelLegend1": {"type": "label", "zlevel": 1, "position": [177, 126], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "YAĞ"},
"fuTrFuelLegend2": {"type": "label", "zlevel": 1, "position": [202, 126], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "MECH YAKITI"},
"fuTrFuelLegend3": {"type": "label", "zlevel": 1, "position": [235, 126], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "ERCHIUS"},
"fuTrFuelLegend4": {"type": "label", "zlevel": 1, "position": [282, 126], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "İZOTOPLAR"},
"fuTrFuelLegend5": {"type": "label", "zlevel": 1, "position": [196, 101], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "BİYOYAKIT"},
"fuTrFuelLegend6": {"type": "label", "zlevel": 1, "position": [234, 101], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "KEDİ"},
"fuTrFuelLegend7": {"type": "label", "zlevel": 1, "position": [275, 101], "hAnchor": "mid", "vAnchor": "mid", "fontSize": 5, "value": "GÜÇ ÇEKİRDEKLERİ"},

    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/mechfuel/header.png",
      "fileBody" : "/interface/fu_turkce/mechfuel/body.png",
      "fileFooter" : "/interface/mechfuel/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  Mech fuel tank",
      "subtitle" : "  ^#b9b5b2;Insert erchius fuel to power your mech",
      "icon" : {
        "type" : "image",
        "file" : "/interface/mechfuel/iconfull.png",
        "zlevel" : -1
      }
    },
	"imgLockedOverlay" : {
      "type" : "image",
	  "zlevel" : 5,
      "file" : "/interface/mechfuel/lockedoverlay.png",
      "position" : [0, 22]
    },
    "imgModuleBackground" : {
      "type" : "image",
      "file" : "/interface/mechfuel/fuel.png",
      "position" : [38, 25]
    },

    "lblModuleLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [104, 54],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 240,
      "value" : "^green;CURRENT FUEL:^white;"
    },
    "lblModuleCount" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [104, 42],
      "hAnchor" : "mid",
      "wrapWidth" : 100,
      "value" : "^yellow;0 / 0^white;"
    },
    "lblFuelType" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [105, 37],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 118,
      "value" : "CURRENT FUEL TYPE: "
    },
	"lblLocked" : {
      "type" : "label",
      "zlevel" : 5,
      "position" : [203, 70],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "value" : ""
    },
    "lblEfficiency" : {
        "type" : "label",
        "zlevel" : 1,
        "position" : [164, 75],
        "hAnchor" : "mid",
        "vAnchor" : "mid",
        "wrapWidth" : 294,
        "value" : ""
      },
    "btnUpgrade" : {
      "caption" : "DOLDUR",
      "type" : "button",
      "base" : "/interface/fu_turkce/mechfuel/deploy.png",
      "hover" : "/interface/fu_turkce/mechfuel/deployhover.png",
      "pressed" : "/interface/fu_turkce/mechfuel/deploypressed.png",
      "pressedOffset" : [0, 0],
      "position" : [192, 38],
	  "zlevel" : 1,
      "callback" : "fuel"
    },
    "btnEmpty" : {
      "caption" : "BOŞALT",
      "type" : "button",
      "base" : "/interface/fu_turkce/mechfuel/emptyfuel.png",
      "hover" : "/interface/fu_turkce/mechfuel/emptyfuelhover.png",
      "pressed" : "/interface/fu_turkce/mechfuel/emptyfuelpressed.png",
      "pressedOffset" : [0, 0],
      "position" : [5, 85],
	  "zlevel" : 1,
      "callback" : "emptyfuel"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
	  "zlevel" : 1,
      "position" : [321, 224]
    },
	"itemSlot_fuel" : {
      "type" : "itemslot",
      "zlevel" : 2,
      "position" : [230, 161],
      "callback" : "insertFuel",
      "rightClickCallback" : "null"
    },
	"itemSlot_fuel_locked" : {
      "type" : "image",
	  "visible":false,
      "zlevel" : 3,
      "position" : [230, 161],
      "rightClickCallback" : "null",
      "file" : "/interface/mechfuel/fuelslotlocked.png"
    }
  },

  "scriptWidgetCallbacks" : [
    "insertFuel",
    "fuel",
    "emptyfuel"
  ],

  "scripts" : ["/interface/mechfuel/mechfuel.lua"],
  "scriptDelta" : 10,

  "fuels" : {
    "liquidoil" : {
	  "fuelMultiplier" : 0.5,
      "fuelType" : "Oil",
	  "textColor" : "gray"
	},
	"liquidfuel" : {
	  "fuelMultiplier" : 0.6,
      "fuelType" : "Erchius",
	  "textColor" : "#bf2fe2"
	},
	"solidfuel" : {
	  "fuelMultiplier" : 0.7,
      "fuelType" : "Erchius",
	  "textColor" : "#bf2fe2"
	},
	"liquidmechfuel" : {
	  "fuelMultiplier" : 2,
      "fuelType" : "Mech fuel",
	  "textColor" : "yellow"
	},
	"unrefinedliquidmechfuel" : {
	  "fuelMultiplier" : 1,
      "fuelType" : "Unrefined",
	  "textColor" : "orange"
	},
	"liquidirradium" : {
	  "fuelMultiplier" : 1.5,
        "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"uraniumrod" : {
	  "fuelMultiplier" : 1.2,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"plutoniumrod" : {
	  "fuelMultiplier" : 1.14,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"neptuniumrod" : {
	  "fuelMultiplier" : 1.24,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"thoriumrod" : {
	  "fuelMultiplier" : 1.35,
      "fuelType" : "Isotope" ,
	  "textColor" : "#fcff00"
	},
	"enricheduranium" : {
	  "fuelMultiplier" : 2,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"enrichedplutonium" : {
	  "fuelMultiplier" : 2.5,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},
	"ultronium" : {
	  "fuelMultiplier" : 25,
      "fuelType" : "Isotope",
	  "textColor" : "#fcff00"
	},

	//rare fuels
	"precursorfuelcell" : {
	  "fuelMultiplier" : 250,
      "fuelType" : "Quantum",
	  "textColor" : "00e3ff"
	},
	"precursorfluid" : {
	  "fuelMultiplier" : 3.5,
      "fuelType" : "Quantum",
	  "textColor" : "00e3ff"
	},
	"schrodingerscat" : {
	  "fuelMultiplier" : 3000,
      "fuelType" : "Quantum" ,
	  "textColor" : "00e3ff"
	},
	"liquidelderfluid" : {
	  "fuelMultiplier" : 25,
      "fuelType" : "Quantum" ,
	  "textColor" : "00e3ff"
	},

	//bio fuels
	"biofuelcannister" : {
	  "fuelMultiplier" : 3,
      "fuelType" : "Bio",
	  "textColor" : "00e3ff"
	},
	"biofuelcannisteradv" : {
	  "fuelMultiplier" : 5,
      "fuelType" : "Bio",
	  "textColor" : "00e3ff"
	},
	"biofuelcannistermax" : {
	  "fuelMultiplier" : 9,
      "fuelType" : "Bio",
	  "textColor" : "00e3ff"
	},
	"radioactivehoneyjar" : {
	  "fuelMultiplier" : 4,
      "fuelType" : "Bio"
	},
	"plutoniumhoneyjar" : {
	  "fuelMultiplier" : 8,
      "fuelType" : "Bio"
	},
	"solariumhoneyjar" : {
	  "fuelMultiplier" : 10,
      "fuelType" : "Bio"
	},
	"orphanpaste" : {
	  "fuelMultiplier" : 25,
      "fuelType" : "Bio"
	},

	//Cores. Provide high energy value in one go
	"powercore" : {
	  "fuelMultiplier" : 500,
      "fuelType" : "Core",
	  "textColor" : "green"
	},
	"moltencore" : {
	  "fuelMultiplier" : 600,
      "fuelType" : "Core",
	  "textColor" : "green"
	},
	"particlecore" : {
	  "fuelMultiplier" : 700,
      "fuelType" : "Core",
	  "textColor" : "green"
	},
	"nuclearcore" : {
	  "fuelMultiplier" : 800,
      "fuelType" : "Core",
	  "textColor" : "green"
	},
	"precursorcore" : {
	  "fuelMultiplier" : 900,
      "fuelType" : "Core",
	  "textColor" : "green"
	},
	"hydrogencore" : {
	  "fuelMultiplier" : 1500,
          "fuelType" : "Core",
	  "textColor" : "green"
	},
	"elderrelic11" : {
	  "fuelMultiplier" : 1000,
      "fuelType" : "Core"
	}
  },
  "fuelTypes" : {
  "Oil": {
    "textColor": "gray",
    "displayName": "Yağ"
  },
  "Erchius": {
    "textColor": "#bf2fe2",
    "displayName": "Erchius"
  },
  "Mech fuel": {
    "textColor": "yellow",
    "displayName": "Mech Yakıtı"
  },
  "Unrefined": {
    "textColor": "orange",
    "displayName": "Rafine Edilmemiş"
  },
  "Isotope": {
    "textColor": "#fcff00",
    "displayName": "İzotop"
  },
  "Quantum": {
    "textColor": "#00e3ff",
    "displayName": "Kuantum"
  },
  "Bio": {
    "textColor": "#00e3ff",
    "displayName": "Biyoyakıt"
  },
  "Core": {
    "textColor": "green",
    "displayName": "Çekirdek"
  }
},
  "mechHornEnergyBoosts" : {
    "mechenergyfield" : 50,
	"mechenergyfield2" : 100,
	"mechenergyfield3" : 150,
	"mechenergyfield4" : 200,
	"mechenergyfield5" : 250
  },

  "sounds" : {
    "emptyFuel" : [ "/sfx/npc/monsters/monster_surprise.ogg" ],
    "fillFuel" : [ "/sfx/npc/monsters/monster_surprise.ogg" ]
  }
}
